global
    maxconn 4096

defaults
    mode http
    option dontlognull
    timeout connect 1000ms
    timeout client 5000ms
    timeout server 5000ms
    timeout http-keep-alive 1000ms

frontend fraud_front
    bind *:9999
    default_backend fraud_back

backend fraud_back
    balance roundrobin
    http-reuse always
    option httpchk
    http-check send meth GET uri /ready ver HTTP/1.1 hdr Host api-1 hdr Connection close
    http-check expect status 200
    server api1 unix@/var/run/rinha/api1.sock check inter 5000 fall 2 rise 1 maxconn 512
    server api2 unix@/var/run/rinha/api2.sock check inter 5000 fall 2 rise 1 maxconn 512
